/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
/*	list-style: none;*/
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
  font: 400 60px/1.5 'Playfair Display', Georgia, serif;
  color: #40B6C7;
  margin-bottom: 10px;
}
h2{
  font-size: 24px;
  font: 400 24px/1.0 'Playfair Display', Georgia, serif;
  word-spacing: 0.25em;
}
/*
h3 {
  font-size: 18px;
  font-family: edita, serif;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-style: italic;
  font-family: edita, serif;
}*/

li.inline {
  display: inline;
  padding-right: 26px;
}


pre,code {
  font-family: monospace;
}

em {
  font-style: italic;
}
body{
  background-color: #EEE;
  color:#444;
}
a {
  color:#37A;
  text-decoration: none;
}
h1 a {
  color: #40B6C7;
}
a:hover {
  color: #40B6C7;
} 
.main {
  padding: 20px 0px;
  margin: auto;
}
p {
  margin: 16px 0px;
  line-height: 120%;
}
#content {
  font: 400 16px/1.6 'Muli', Verdana, Helvetica, sans-serif;
}
#content h3 {
  text-align: center;
  font: 400 20px/1.6 'Playfair Display', Georgia, serif;
}
#content h4 {
  text-align: center;
  font: 400 18px/1.6 'Playfair Display', Georgia, serif;
}

@media handheld { 
  #column {
    width: 280px;
    margin: auto;
  }
}
@media screen {
  #column {
    width: 960px;
    margin: auto;
  }
}